@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  flex-direction: column;
  padding: 30px;
}

.main-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.news-grid {
  border: 1px solid #eeeeee;
  padding: 25px;
  border-radius: 10px;
}

.img {
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.content {
  font-size: 16px;
  line-height: 1.5;
}

.author {
  font-size: 14px;
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 360px;
  gap: 20px;
}

.dropdown-container {
  width: 125px;
  height: 35px;
  padding: 10px;
  border: 1px solid #eeeeee;
  outline: none;
}